<html>
<head><title>Ubiqwe.us qBiq</title></head>
<body>
	<img style="width: 16.66666667%;" alt="qbiq-logo-blue" srcset="/images/qbiq-logo-blue.png 93w, /images/qbiq-logo-blue@2x.png 186w">
	<p>
		<a href="{{appStoreURL}}">Get the qBiq app.</a>
	</p>
	<p>
		After installing the qBiq app, open this link on your device to access this qBiq:<br>
		<a href="{{qBiqUrl}}">Access this qBiq.</a>
	</p>
</body>
</html>